.parteEncabezado{
    display: inline-block;
    text-align: center;
}

#subtitulo{
    font-size:16px;
    font-weight: normal;
}

.encabezado{
    text-align: center;
}

.tituloCuerpo{
    text-align:center;
}
